# baseurl: "" 
# url: "http://localhost" 

baseurl: "/s2024"
url: "https://cmu-codegen.github.io/`

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true



