---
layout: default
---

<div class="home">

    <h1 style="font-size: 2.5em">{{ site.data.course_info.course_name }} <span style="font-size: 0.8em;color: #0006;">/ {{ site.data.course_info.course_semester }} </span></h1>

    <br />

    <p style="font-size: 16px">{{ site.data.course_info.course_summary }}</p>
    
    {{ content }}

    <br>
    <div class="container sec">
        <div style="width:100%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Instructors</h2>
                {% for ins in site.data.course_info.instructors %}
                <div class="image--cover-container">
                    <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <br/>

        <div style="width:100%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.course_info.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container sec">
        <h2>Logistics</h2>
        <ul>
            <li>Class times:  {{ site.data.course_info.classes }} </li>
            <li>Room:  {{ site.data.course_info.room }} </li>
            <li>Course identifier:  {{ site.data.course_info.course_dept }} {{ site.data.course_info.course_num }} </li>
            <li>Office hours:  {{ site.data.course_info.office_hours }} </li>
        </ul>
    </div>
<!-- </div>

<br/>
<div> -->
<!-- <br/> -->
<div class="container sec">
    <h1>Course description</h1>
    <p>
        {{site.data.course_info.course_description}}
    </p>
    <p>
        {{site.data.course_info.course_disclaimer}}
    </p>
</div>

<div class="container sec">
    <h2>Class format</h2>
    Each class is either an instructor-led lecture or a student-led discussion about a (set of) research paper(s).
    <br/><br>
    <h3>Student-led discussions</h3>
    In a student-led discussion, a group of 3 students presents a set of papers that are on a common theme. Presenters should decide how much time to devote to each paper, and whether to include background information. The decision is based on their interests and the clarity of the presentation. The primary goal is to structure a discussion with other members of the class. The presentation should include the topics below. Not every paper needs to be included for each topic, but the presentation should be a coherent whole. We have some suggested times below to aim for, including discussion time, but these are guidelines and if you don’t get to every topic because of an in-depth discussion that’s totally fine! We’ll grade based on your slides, too.
    <ul>
        <li><strong>Content</strong>: Summarize the content of the papers (motivation, problem definitions, methods, key findings). Include discussion points during the presentation. For instance, are there areas you found surprising, particularly interesting/creative, or difficult to understand? [aim for ~20 minutes, including discussion] </li>
        <li><strong>Review</strong>: Imagine that the papers were submitted to a conference, and you are a reviewer. For at least one paper, make a slide with an overall score and discuss why you gave the paper the score. The intent is to start a discussion with the class. A lively discussion and debate is encouraged! [~20 minutes, including discussion]</li>
        <li><strong>Future</strong>: List some future research ideas related to the themes or ideas covered in the papers. The intent is to start a discussion about outgoing research paths related to the papers. [~10 minutes, including discussion]</li>
        <li><strong>Reproducibility</strong>: Collect resources (e.g., code, data, if any) that might be useful if you wanted to dig deeper. As a starting point for discussion, highlight areas that may be easy or difficult to reproduce. [~10 minutes, including discussion]</li>
    </ul>
    Presentations are evaluated on a 10 point scale: 2 points for each point above, and 2 additional points for the quality of discussion questions that are spread throughout the presentation.
    <br><br>

    We will have a shared pool of slides hosted on Google presentations, which will be shared a week before. Please
    prefix the slide title with the lecture number so that the slides are easily identified.

    <br><br>
    <h4>For non-presenting students:</h4>
    <ul>
        <li><em>Pre-assignment</em>:
            prepare a short summary of one of the class's papers, and at least one discussion question related to the paper. The summary should briefly summarize the motivation, research contributions, method, and at least one key experimental result from the paper (e.g., 1-3 sentences for each of these items). We’ll discuss some of the submitted discussion questions during the class. 
        <strong>The summary and question are due at 11:59pm on the day before class.</strong>
        </li>
        <li><em>Discussion</em>: non-presenting students are expected to participate in the discussions. </li>
        <li><em>Post-assignment</em>:
            write about one thing that you found interesting from the discussion (2-3 sentences). Refer to a specific part of the discussion in your answer. 
        <strong>The post-assignment is due at 11:59pm on the day of class.</strong>
        </li>
    </ul>
    <h3>Instructor-led lectures</h3>
    <ul>
        <li><em>Pre-assignment</em>:
            we will post a list of papers that are relevant to the lecture. Pick one of these, and write a summary and one discussion question as discussed above. We’ll discuss some of the submitted discussion questions during the class. 
        <strong>The summary and question are due at 11:59pm on the day before class.</strong>
        </li>
        <li><em>Attendance</em>: students are expected to attend lectures. </li>
        <li><em>Post-assignment</em>:
            write about one thing that you found interesting from the lecture (2-3 sentences). Refer to a specific part of the lecture in your answer. 
        <strong>The post-assignment is due at 11:59pm on the day of class.</strong>
        </li>
    </ul>
</div>

<div class="container sec" id="schedule">
    <h1>Schedule</h1>
<ul class="table" style="margin-left: 0;">
    <li class="table-header">
        <div class="col col-1">Class</div>
        <div class="col col-1">Type</div>
        <div class="col col-2">Topic</div>
        <div class="col col-3">Resources</div>
    </li>

    {% for event in site.data.schedule.schedule %}
    <li class="table-row table-row-{{ event.type}}">
        <div class="col col-1" data-label="Event">
            # {{ event.number }}
            {{ event.date | date: site.dateformat }}
            <!-- {{ event.date | date: "%A" }}  -->
        </div>
        <div class="col col-1" data-label="Event">
            {{ event.kind }}<br>
        </div>
        <div class="col col-2" data-label="Description">
            <strong>{{ event.theme }}</strong><br>
            {{ event.title }}
            {% if event.slides %}
            <br><a href="{{ event.slides }}">[slides]</a>
            {% endif %}
        </div>
        <div class="col col-3 markdown-content">
        
            <!-- Main readings -->
            {% if event.main %}
            <span >Main readings:</span>
            <ul >
            {% for item in event.main %}
                <li><a title="" href="{{ item.url }}">{{ item.title}}</a><br></li>
            {% endfor %}
            </ul>
            {% endif %}
        
            <!-- Secondary readings -->
            {% if event.suggested %}
            <span >Suggested readings:</span>
            <ul >
            {% for item in event.suggested %}
                <li><a title="" href="{{ item.url }}">{{ item.title}}</a><br>
                </li>
            {% endfor %}
            </ul>
            {% endif %}

            
        </div>
    </li>
    {% endfor %}

</ul>
</div>





<div class="container sec" id="project">
    <h2>Course project</h2>
    The course can either be taken without a course project for 6 credits, or with a course project for 12 credits.
    <br><br>
    The course project simulates a research project on a topic related to the course. 
    This includes (but is not limited to) analysis of a method or paper, replicating a paper's analysis or methods, developing a related method,
    evaluating a method in a new setting, or other forms of investigation. 

    Project groups are encouraged to propose their own ideas. The instructors will additionally provide a list of ideas that groups can choose from.
    <ul>
        <li><em>Project teams:</em> each project team consists of 2-4 members. </li>
        <li><em>Mid-semester review:</em> project teams will meet with the instructors roughly half way through the semester. 
            Each team will prepare a presentation about the current project status. Instructors will discuss next steps with the team and provide feedback.
        <li><em>Final review and writeup:</em> project teams will present their project to the class at the end of the semester.
            Additionally, each team will prepare a writeup in the style of a workshop paper. The paper describes the project, its current results, challenges faced, and the project's future outlook. </li>
    </ul>

    <em>NOTE: Course project logistics may be subject to revision prior to the course.</em>
</div>


<div class="container sec">
    <h2>Resources</h2>
        <ul>
        {% for item in site.data.course_info.links%}
            <li><a href={{item.url}}>{{item.name}}</a></li>
        {% endfor %} 
        </ul>
</div>



<div class="container sec">
    <h2>Grading</h2>

    <h3>In-Class Component (applies to 6- and 12-unit versions)</h3>

    The in-class component of the course is graded on a 60 point scale, with 2/3 assignments and 1/3 presentation. Specifically:

    <ul>
        <li>20 points for discussion and lecture <strong>pre-assignments</strong>. There are 23 assignments, and each assignment is worth 1 point. You automatically receive a score of 1 for the class in which you are presenting. We will drop the lowest 3 assignment scores out of the 23 assignments to calculate the 20 points. </li>

        <li>20 points for discussion and lecture <strong>post-assignments</strong>. There are 23 assignments, and each assignment is worth 1 point. You automatically receive a score of 1 for the class in which you are presenting. We will drop the lowest 3 assignment scores out of the 23 assignments to calculate the 20 points. </li>

        <li>20 points for <strong>student presentation</strong>. The presentation is graded on a 10 point scale: 2 points each for covering content, review, future, and reproducibility, and 2 points for the quality of discussion questions that are prompted in the presentation. This total score will be multiplied by 2 to get 20 overall points. For each aspect, 0 points means missing/low quality, 1 passable quality, and 2 high quality. For examples of high quality, please see presentations from discussion-based courses such as <a href="https://www.cs.princeton.edu/courses/archive/fall22/cos597G/">Princeton COS 597G</a>, or <a href="https://self-supervised.cs.jhu.edu/fa2022/">JHU CSCI 601.771</a>. </li>
    </ul>

    <h3>Project Component (applies to 12-unit version)</h3>

    For students in the 12-unit version of the course, the in-class component (above) will be scaled down by 50%, and the other 50% of the grade will come from a course project with the following grade breakdown. Projects will be in teams of 2-4 students, which do not need to be the same as the discussion presentation groups.

    <ul>
        <li><strong>Report 1: 25%</strong> This will contain a task proposal and analysis, related work, and baseline.</li>
        <li><strong>Report 2: 25%</strong> This will contain baseline approaches, results and analysis of the baselines, and an updated proposal for techniques to explore in the final part of the project.</li>
        <li><strong>Final Report: 30%</strong> Extends R1 and R2 with results and analysis from additional techniques explored, and discussion of directions for future work. This should be in the style of a workshop paper.</li>
        <li><strong>Final presentation: 10%</strong> These will be in-class presentations to the course staff and other students.</li>
        <li><strong>Project hours: 10%</strong> Each group will spend ~15-20 minutes meeting with an instructor, in-class. Teams will come with a few slides on a laptop about the current status of the project and next steps and use these to get feedback. Instructors will grade the updates, with 5% per project hour meeting.</li>
    </ul>

    <h2>Late policies</h2>
    Your team will have a total of 5 late days which you can budget across Report 1, Report 2, and the Final Report. Note that other than these late days, we will not be making exceptions and extending deadlines except for health reasons, so please try to be frugal with your late days and use them only if necessary. Assignments that are late beyond the allowed late days will be graded down one third-grade per day late (e.g. A to A- for one day, and A to B+ for two days).
</div>
</div>